WebService_SharePoint/Service References/JDE_REF/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/XELCODE.Server.Common" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/XELCODE.Valvex.RO" />
  <xs:element name="GetDomains">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/XELCODE.Server.Common" minOccurs="0" name="GetDomainsResult" nillable="true" type="q1:ArrayOfRODomainDescriptor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/XELCODE.Server.Common" minOccurs="0" name="logonDetails" nillable="true" type="q2:ROLoginDetails" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/XELCODE.Server.Common" minOccurs="0" name="authenticator" type="q3:ROAuthenticator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/XELCODE.Server.Common" minOccurs="0" name="LogOnResult" nillable="true" type="q4:ROLoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOffResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivileges">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPrivilegesResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserProfileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q9:guid" />
        <xs:element minOccurs="0" name="profile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAnybodyOutThere">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAnybodyOutThereResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Dummy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/XELCODE.Server.Common" minOccurs="0" name="dummy" nillable="true" type="q10:RODummyClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DummyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00GetServerDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00GetServerDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RO_P00GetServerDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00GetServerTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00GetServerTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RO_P00GetServerTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00GetPrinters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00GetPrintersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/XELCODE.Valvex.RO" minOccurs="0" name="RO_P00GetPrintersResult" nillable="true" type="q12:ArrayOfROBarCodePrinter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00GetAlphaName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q13:guid" />
        <xs:element minOccurs="0" name="addressNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00GetAlphaNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RO_P00GetAlphaNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00GetConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00GetConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/XELCODE.Valvex.RO" minOccurs="0" name="RO_P00GetConfigResult" nillable="true" type="q15:ROConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00GetUDCTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q16:guid" />
        <xs:element minOccurs="0" name="systemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00GetUDCTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/XELCODE.Valvex.RO" minOccurs="0" name="RO_P00GetUDCTableResult" nillable="true" type="q17:ArrayOfROUdcCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00ValidateLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q18:guid" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00ValidateLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RO_P00ValidateLocationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00Dummy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="futureUse" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00DummyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RO_P00DummyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00GetItemInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q19:guid" />
        <xs:element minOccurs="0" name="itemNumber" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/XELCODE.Valvex.RO" minOccurs="0" name="itemType" type="q20:ROItemDefType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00GetItemInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/XELCODE.Valvex.RO" minOccurs="0" name="RO_P00GetItemInfoResult" nillable="true" type="q21:ROItemDef" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00GetItemInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q22:guid" />
        <xs:element minOccurs="0" name="itemNumber" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/XELCODE.Valvex.RO" minOccurs="0" name="itemType" type="q23:ROItemDefType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00GetItemInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/XELCODE.Valvex.RO" minOccurs="0" name="RO_P00GetItemInfosResult" nillable="true" type="q24:ArrayOfROItemDef" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00GetUMStruct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionId" type="q25:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_P00GetUMStructResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/XELCODE.Valvex.RO" minOccurs="0" name="RO_P00GetUMStructResult" nillable="true" type="q26:ArrayOfROItemStruct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_VI_InventoryTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/XELCODE.Valvex.RO" minOccurs="0" name="sessionData" nillable="true" type="q27:ROSessionData" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/XELCODE.Valvex.RO" minOccurs="0" name="details" nillable="true" type="q28:ArrayOfROInventoryTransferVI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_VI_InventoryTransferResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_VI_InventoryAdjustment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/XELCODE.Valvex.RO" minOccurs="0" name="sessionData" nillable="true" type="q29:ROSessionData" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/XELCODE.Valvex.RO" minOccurs="0" name="details" nillable="true" type="q30:ArrayOfROInventoryAdjustmentVI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_VI_InventoryAdjustmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_VI_PurchaseReceipt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/XELCODE.Valvex.RO" minOccurs="0" name="sessionData" nillable="true" type="q31:ROSessionData" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/XELCODE.Valvex.RO" minOccurs="0" name="order" nillable="true" type="q32:ROPurchaseReceiptVI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RO_VI_PurchaseReceiptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>