WebService_SharePoint/Service References/SP2013/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetNistTime">
        <s:complexType />
      </s:element>
      <s:element name="GetNistTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNistTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INW_do_korekty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nr_komisji" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INW_do_korektyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INW_do_korektyResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INW_Zapisy_komisji">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nr_komisji" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INW_Zapisy_komisjiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INW_Zapisy_komisjiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_Location">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="comm_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_LocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_LocationResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateDB_stan">
        <s:complexType />
      </s:element>
      <s:element name="UpdateDB_stanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDB_stanResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INW_KOMUNIKATY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nr_kom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INW_KOMUNIKATYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INW_KOMUNIKATYResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert_spis">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="anulowany" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="data_zapisu" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ilosc" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="jm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="komentarz" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="koszt" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="loc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mag" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="litm" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="indeks" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nr_komisji" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Gd" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert_spisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Insert_spisResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDB_indeksy">
        <s:complexType />
      </s:element>
      <s:element name="UpdateDB_indeksyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDB_indeksyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IPO_Delete_item">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="item_id_itm" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IPO_Delete_itemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IPO_Delete_itemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IPO_Delete_Warehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="whid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IPO_Delete_WarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IPO_Delete_WarehouseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IPO_Update_avail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="item_id_itm" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="qty" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="warehouse_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IPO_Update_availResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IPO_Update_availResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IPOupdateItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="item_id_itm" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IPOupdateItemResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendAlert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAlertResponse">
        <s:complexType />
      </s:element>
      <s:element name="IPO_popraw_indeksy_w_IPO">
        <s:complexType />
      </s:element>
      <s:element name="IPO_popraw_indeksy_w_IPOResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetItems">
        <s:complexType />
      </s:element>
      <s:element name="GetItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="local_New_Item_SP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="kod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="typ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="opis" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="operacja" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="local_New_Item_SPResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetNistTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetNistTime" />
  </wsdl:message>
  <wsdl:message name="GetNistTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetNistTimeResponse" />
  </wsdl:message>
  <wsdl:message name="INW_do_korektySoapIn">
    <wsdl:part name="parameters" element="tns:INW_do_korekty" />
  </wsdl:message>
  <wsdl:message name="INW_do_korektySoapOut">
    <wsdl:part name="parameters" element="tns:INW_do_korektyResponse" />
  </wsdl:message>
  <wsdl:message name="INW_Zapisy_komisjiSoapIn">
    <wsdl:part name="parameters" element="tns:INW_Zapisy_komisji" />
  </wsdl:message>
  <wsdl:message name="INW_Zapisy_komisjiSoapOut">
    <wsdl:part name="parameters" element="tns:INW_Zapisy_komisjiResponse" />
  </wsdl:message>
  <wsdl:message name="Get_LocationSoapIn">
    <wsdl:part name="parameters" element="tns:Get_Location" />
  </wsdl:message>
  <wsdl:message name="Get_LocationSoapOut">
    <wsdl:part name="parameters" element="tns:Get_LocationResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDB_stanSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDB_stan" />
  </wsdl:message>
  <wsdl:message name="UpdateDB_stanSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDB_stanResponse" />
  </wsdl:message>
  <wsdl:message name="INW_KOMUNIKATYSoapIn">
    <wsdl:part name="parameters" element="tns:INW_KOMUNIKATY" />
  </wsdl:message>
  <wsdl:message name="INW_KOMUNIKATYSoapOut">
    <wsdl:part name="parameters" element="tns:INW_KOMUNIKATYResponse" />
  </wsdl:message>
  <wsdl:message name="Insert_spisSoapIn">
    <wsdl:part name="parameters" element="tns:Insert_spis" />
  </wsdl:message>
  <wsdl:message name="Insert_spisSoapOut">
    <wsdl:part name="parameters" element="tns:Insert_spisResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDB_indeksySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDB_indeksy" />
  </wsdl:message>
  <wsdl:message name="UpdateDB_indeksySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDB_indeksyResponse" />
  </wsdl:message>
  <wsdl:message name="IPO_Delete_itemSoapIn">
    <wsdl:part name="parameters" element="tns:IPO_Delete_item" />
  </wsdl:message>
  <wsdl:message name="IPO_Delete_itemSoapOut">
    <wsdl:part name="parameters" element="tns:IPO_Delete_itemResponse" />
  </wsdl:message>
  <wsdl:message name="IPO_Delete_WarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:IPO_Delete_Warehouse" />
  </wsdl:message>
  <wsdl:message name="IPO_Delete_WarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:IPO_Delete_WarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="IPO_Update_availSoapIn">
    <wsdl:part name="parameters" element="tns:IPO_Update_avail" />
  </wsdl:message>
  <wsdl:message name="IPO_Update_availSoapOut">
    <wsdl:part name="parameters" element="tns:IPO_Update_availResponse" />
  </wsdl:message>
  <wsdl:message name="IPOupdateItemSoapIn">
    <wsdl:part name="parameters" element="tns:IPOupdateItem" />
  </wsdl:message>
  <wsdl:message name="IPOupdateItemSoapOut">
    <wsdl:part name="parameters" element="tns:IPOupdateItemResponse" />
  </wsdl:message>
  <wsdl:message name="SendAlertSoapIn">
    <wsdl:part name="parameters" element="tns:SendAlert" />
  </wsdl:message>
  <wsdl:message name="SendAlertSoapOut">
    <wsdl:part name="parameters" element="tns:SendAlertResponse" />
  </wsdl:message>
  <wsdl:message name="IPO_popraw_indeksy_w_IPOSoapIn">
    <wsdl:part name="parameters" element="tns:IPO_popraw_indeksy_w_IPO" />
  </wsdl:message>
  <wsdl:message name="IPO_popraw_indeksy_w_IPOSoapOut">
    <wsdl:part name="parameters" element="tns:IPO_popraw_indeksy_w_IPOResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="GetItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="local_New_Item_SPSoapIn">
    <wsdl:part name="parameters" element="tns:local_New_Item_SP" />
  </wsdl:message>
  <wsdl:message name="local_New_Item_SPSoapOut">
    <wsdl:part name="parameters" element="tns:local_New_Item_SPResponse" />
  </wsdl:message>
  <wsdl:message name="GetNistTimeHttpGetIn" />
  <wsdl:message name="GetNistTimeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="INW_do_korektyHttpGetIn">
    <wsdl:part name="nr_komisji" type="s:string" />
  </wsdl:message>
  <wsdl:message name="INW_do_korektyHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="INW_Zapisy_komisjiHttpGetIn">
    <wsdl:part name="nr_komisji" type="s:string" />
  </wsdl:message>
  <wsdl:message name="INW_Zapisy_komisjiHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="Get_LocationHttpGetIn">
    <wsdl:part name="comm_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_LocationHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="UpdateDB_stanHttpGetIn" />
  <wsdl:message name="UpdateDB_stanHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="INW_KOMUNIKATYHttpGetIn">
    <wsdl:part name="nr_kom" type="s:string" />
  </wsdl:message>
  <wsdl:message name="INW_KOMUNIKATYHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="UpdateDB_indeksyHttpGetIn" />
  <wsdl:message name="UpdateDB_indeksyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IPO_Delete_itemHttpGetIn">
    <wsdl:part name="item_id_itm" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IPO_Delete_itemHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IPO_Delete_WarehouseHttpGetIn">
    <wsdl:part name="whid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IPO_Delete_WarehouseHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IPO_Update_availHttpGetIn">
    <wsdl:part name="item_id_itm" type="s:string" />
    <wsdl:part name="qty" type="s:string" />
    <wsdl:part name="warehouse_id" type="s:string" />
    <wsdl:part name="location" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IPO_Update_availHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IPOupdateItemHttpGetIn">
    <wsdl:part name="item_id_itm" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IPOupdateItemHttpGetOut" />
  <wsdl:message name="SendAlertHttpGetIn">
    <wsdl:part name="to" type="s:string" />
    <wsdl:part name="subject" type="s:string" />
    <wsdl:part name="body" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendAlertHttpGetOut" />
  <wsdl:message name="IPO_popraw_indeksy_w_IPOHttpGetIn" />
  <wsdl:message name="IPO_popraw_indeksy_w_IPOHttpGetOut" />
  <wsdl:message name="GetItemsHttpGetIn" />
  <wsdl:message name="GetItemsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="local_New_Item_SPHttpGetIn">
    <wsdl:part name="title" type="s:string" />
    <wsdl:part name="kod" type="s:string" />
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="typ" type="s:string" />
    <wsdl:part name="opis" type="s:string" />
    <wsdl:part name="operacja" type="s:string" />
  </wsdl:message>
  <wsdl:message name="local_New_Item_SPHttpGetOut" />
  <wsdl:message name="GetNistTimeHttpPostIn" />
  <wsdl:message name="GetNistTimeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="INW_do_korektyHttpPostIn">
    <wsdl:part name="nr_komisji" type="s:string" />
  </wsdl:message>
  <wsdl:message name="INW_do_korektyHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="INW_Zapisy_komisjiHttpPostIn">
    <wsdl:part name="nr_komisji" type="s:string" />
  </wsdl:message>
  <wsdl:message name="INW_Zapisy_komisjiHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="Get_LocationHttpPostIn">
    <wsdl:part name="comm_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_LocationHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="UpdateDB_stanHttpPostIn" />
  <wsdl:message name="UpdateDB_stanHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="INW_KOMUNIKATYHttpPostIn">
    <wsdl:part name="nr_kom" type="s:string" />
  </wsdl:message>
  <wsdl:message name="INW_KOMUNIKATYHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="UpdateDB_indeksyHttpPostIn" />
  <wsdl:message name="UpdateDB_indeksyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IPO_Delete_itemHttpPostIn">
    <wsdl:part name="item_id_itm" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IPO_Delete_itemHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IPO_Delete_WarehouseHttpPostIn">
    <wsdl:part name="whid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IPO_Delete_WarehouseHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IPO_Update_availHttpPostIn">
    <wsdl:part name="item_id_itm" type="s:string" />
    <wsdl:part name="qty" type="s:string" />
    <wsdl:part name="warehouse_id" type="s:string" />
    <wsdl:part name="location" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IPO_Update_availHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IPOupdateItemHttpPostIn">
    <wsdl:part name="item_id_itm" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IPOupdateItemHttpPostOut" />
  <wsdl:message name="SendAlertHttpPostIn">
    <wsdl:part name="to" type="s:string" />
    <wsdl:part name="subject" type="s:string" />
    <wsdl:part name="body" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendAlertHttpPostOut" />
  <wsdl:message name="IPO_popraw_indeksy_w_IPOHttpPostIn" />
  <wsdl:message name="IPO_popraw_indeksy_w_IPOHttpPostOut" />
  <wsdl:message name="GetItemsHttpPostIn" />
  <wsdl:message name="GetItemsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="local_New_Item_SPHttpPostIn">
    <wsdl:part name="title" type="s:string" />
    <wsdl:part name="kod" type="s:string" />
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="typ" type="s:string" />
    <wsdl:part name="opis" type="s:string" />
    <wsdl:part name="operacja" type="s:string" />
  </wsdl:message>
  <wsdl:message name="local_New_Item_SPHttpPostOut" />
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetNistTime">
      <wsdl:input message="tns:GetNistTimeSoapIn" />
      <wsdl:output message="tns:GetNistTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INW_do_korekty">
      <wsdl:input message="tns:INW_do_korektySoapIn" />
      <wsdl:output message="tns:INW_do_korektySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INW_Zapisy_komisji">
      <wsdl:input message="tns:INW_Zapisy_komisjiSoapIn" />
      <wsdl:output message="tns:INW_Zapisy_komisjiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Location">
      <wsdl:input message="tns:Get_LocationSoapIn" />
      <wsdl:output message="tns:Get_LocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDB_stan">
      <wsdl:input message="tns:UpdateDB_stanSoapIn" />
      <wsdl:output message="tns:UpdateDB_stanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INW_KOMUNIKATY">
      <wsdl:input message="tns:INW_KOMUNIKATYSoapIn" />
      <wsdl:output message="tns:INW_KOMUNIKATYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert_spis">
      <wsdl:input message="tns:Insert_spisSoapIn" />
      <wsdl:output message="tns:Insert_spisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDB_indeksy">
      <wsdl:input message="tns:UpdateDB_indeksySoapIn" />
      <wsdl:output message="tns:UpdateDB_indeksySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IPO_Delete_item">
      <wsdl:input message="tns:IPO_Delete_itemSoapIn" />
      <wsdl:output message="tns:IPO_Delete_itemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IPO_Delete_Warehouse">
      <wsdl:input message="tns:IPO_Delete_WarehouseSoapIn" />
      <wsdl:output message="tns:IPO_Delete_WarehouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IPO_Update_avail">
      <wsdl:input message="tns:IPO_Update_availSoapIn" />
      <wsdl:output message="tns:IPO_Update_availSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IPOupdateItem">
      <wsdl:input message="tns:IPOupdateItemSoapIn" />
      <wsdl:output message="tns:IPOupdateItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAlert">
      <wsdl:input message="tns:SendAlertSoapIn" />
      <wsdl:output message="tns:SendAlertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IPO_popraw_indeksy_w_IPO">
      <wsdl:input message="tns:IPO_popraw_indeksy_w_IPOSoapIn" />
      <wsdl:output message="tns:IPO_popraw_indeksy_w_IPOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input message="tns:GetItemsSoapIn" />
      <wsdl:output message="tns:GetItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="local_New_Item_SP">
      <wsdl:input message="tns:local_New_Item_SPSoapIn" />
      <wsdl:output message="tns:local_New_Item_SPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpGet">
    <wsdl:operation name="GetNistTime">
      <wsdl:input message="tns:GetNistTimeHttpGetIn" />
      <wsdl:output message="tns:GetNistTimeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="INW_do_korekty">
      <wsdl:input message="tns:INW_do_korektyHttpGetIn" />
      <wsdl:output message="tns:INW_do_korektyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="INW_Zapisy_komisji">
      <wsdl:input message="tns:INW_Zapisy_komisjiHttpGetIn" />
      <wsdl:output message="tns:INW_Zapisy_komisjiHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Location">
      <wsdl:input message="tns:Get_LocationHttpGetIn" />
      <wsdl:output message="tns:Get_LocationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDB_stan">
      <wsdl:input message="tns:UpdateDB_stanHttpGetIn" />
      <wsdl:output message="tns:UpdateDB_stanHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="INW_KOMUNIKATY">
      <wsdl:input message="tns:INW_KOMUNIKATYHttpGetIn" />
      <wsdl:output message="tns:INW_KOMUNIKATYHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDB_indeksy">
      <wsdl:input message="tns:UpdateDB_indeksyHttpGetIn" />
      <wsdl:output message="tns:UpdateDB_indeksyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IPO_Delete_item">
      <wsdl:input message="tns:IPO_Delete_itemHttpGetIn" />
      <wsdl:output message="tns:IPO_Delete_itemHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IPO_Delete_Warehouse">
      <wsdl:input message="tns:IPO_Delete_WarehouseHttpGetIn" />
      <wsdl:output message="tns:IPO_Delete_WarehouseHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IPO_Update_avail">
      <wsdl:input message="tns:IPO_Update_availHttpGetIn" />
      <wsdl:output message="tns:IPO_Update_availHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IPOupdateItem">
      <wsdl:input message="tns:IPOupdateItemHttpGetIn" />
      <wsdl:output message="tns:IPOupdateItemHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAlert">
      <wsdl:input message="tns:SendAlertHttpGetIn" />
      <wsdl:output message="tns:SendAlertHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IPO_popraw_indeksy_w_IPO">
      <wsdl:input message="tns:IPO_popraw_indeksy_w_IPOHttpGetIn" />
      <wsdl:output message="tns:IPO_popraw_indeksy_w_IPOHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input message="tns:GetItemsHttpGetIn" />
      <wsdl:output message="tns:GetItemsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="local_New_Item_SP">
      <wsdl:input message="tns:local_New_Item_SPHttpGetIn" />
      <wsdl:output message="tns:local_New_Item_SPHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpPost">
    <wsdl:operation name="GetNistTime">
      <wsdl:input message="tns:GetNistTimeHttpPostIn" />
      <wsdl:output message="tns:GetNistTimeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="INW_do_korekty">
      <wsdl:input message="tns:INW_do_korektyHttpPostIn" />
      <wsdl:output message="tns:INW_do_korektyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="INW_Zapisy_komisji">
      <wsdl:input message="tns:INW_Zapisy_komisjiHttpPostIn" />
      <wsdl:output message="tns:INW_Zapisy_komisjiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Location">
      <wsdl:input message="tns:Get_LocationHttpPostIn" />
      <wsdl:output message="tns:Get_LocationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDB_stan">
      <wsdl:input message="tns:UpdateDB_stanHttpPostIn" />
      <wsdl:output message="tns:UpdateDB_stanHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="INW_KOMUNIKATY">
      <wsdl:input message="tns:INW_KOMUNIKATYHttpPostIn" />
      <wsdl:output message="tns:INW_KOMUNIKATYHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDB_indeksy">
      <wsdl:input message="tns:UpdateDB_indeksyHttpPostIn" />
      <wsdl:output message="tns:UpdateDB_indeksyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IPO_Delete_item">
      <wsdl:input message="tns:IPO_Delete_itemHttpPostIn" />
      <wsdl:output message="tns:IPO_Delete_itemHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IPO_Delete_Warehouse">
      <wsdl:input message="tns:IPO_Delete_WarehouseHttpPostIn" />
      <wsdl:output message="tns:IPO_Delete_WarehouseHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IPO_Update_avail">
      <wsdl:input message="tns:IPO_Update_availHttpPostIn" />
      <wsdl:output message="tns:IPO_Update_availHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IPOupdateItem">
      <wsdl:input message="tns:IPOupdateItemHttpPostIn" />
      <wsdl:output message="tns:IPOupdateItemHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAlert">
      <wsdl:input message="tns:SendAlertHttpPostIn" />
      <wsdl:output message="tns:SendAlertHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IPO_popraw_indeksy_w_IPO">
      <wsdl:input message="tns:IPO_popraw_indeksy_w_IPOHttpPostIn" />
      <wsdl:output message="tns:IPO_popraw_indeksy_w_IPOHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input message="tns:GetItemsHttpPostIn" />
      <wsdl:output message="tns:GetItemsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="local_New_Item_SP">
      <wsdl:input message="tns:local_New_Item_SPHttpPostIn" />
      <wsdl:output message="tns:local_New_Item_SPHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNistTime">
      <soap:operation soapAction="http://tempuri.org/GetNistTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INW_do_korekty">
      <soap:operation soapAction="http://tempuri.org/INW_do_korekty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INW_Zapisy_komisji">
      <soap:operation soapAction="http://tempuri.org/INW_Zapisy_komisji" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Location">
      <soap:operation soapAction="http://tempuri.org/Get_Location" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDB_stan">
      <soap:operation soapAction="http://tempuri.org/UpdateDB_stan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INW_KOMUNIKATY">
      <soap:operation soapAction="http://tempuri.org/INW_KOMUNIKATY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_spis">
      <soap:operation soapAction="http://tempuri.org/Insert_spis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDB_indeksy">
      <soap:operation soapAction="http://tempuri.org/UpdateDB_indeksy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPO_Delete_item">
      <soap:operation soapAction="http://tempuri.org/IPO_Delete_item" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPO_Delete_Warehouse">
      <soap:operation soapAction="http://tempuri.org/IPO_Delete_Warehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPO_Update_avail">
      <soap:operation soapAction="http://tempuri.org/IPO_Update_avail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPOupdateItem">
      <soap:operation soapAction="http://tempuri.org/IPOupdateItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAlert">
      <soap:operation soapAction="http://tempuri.org/SendAlert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPO_popraw_indeksy_w_IPO">
      <soap:operation soapAction="http://tempuri.org/IPO_popraw_indeksy_w_IPO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="local_New_Item_SP">
      <soap:operation soapAction="http://tempuri.org/local_New_Item_SP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNistTime">
      <soap12:operation soapAction="http://tempuri.org/GetNistTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INW_do_korekty">
      <soap12:operation soapAction="http://tempuri.org/INW_do_korekty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INW_Zapisy_komisji">
      <soap12:operation soapAction="http://tempuri.org/INW_Zapisy_komisji" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Location">
      <soap12:operation soapAction="http://tempuri.org/Get_Location" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDB_stan">
      <soap12:operation soapAction="http://tempuri.org/UpdateDB_stan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INW_KOMUNIKATY">
      <soap12:operation soapAction="http://tempuri.org/INW_KOMUNIKATY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_spis">
      <soap12:operation soapAction="http://tempuri.org/Insert_spis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDB_indeksy">
      <soap12:operation soapAction="http://tempuri.org/UpdateDB_indeksy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPO_Delete_item">
      <soap12:operation soapAction="http://tempuri.org/IPO_Delete_item" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPO_Delete_Warehouse">
      <soap12:operation soapAction="http://tempuri.org/IPO_Delete_Warehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPO_Update_avail">
      <soap12:operation soapAction="http://tempuri.org/IPO_Update_avail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPOupdateItem">
      <soap12:operation soapAction="http://tempuri.org/IPOupdateItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAlert">
      <soap12:operation soapAction="http://tempuri.org/SendAlert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPO_popraw_indeksy_w_IPO">
      <soap12:operation soapAction="http://tempuri.org/IPO_popraw_indeksy_w_IPO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap12:operation soapAction="http://tempuri.org/GetItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="local_New_Item_SP">
      <soap12:operation soapAction="http://tempuri.org/local_New_Item_SP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpGet" type="tns:Service1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetNistTime">
      <http:operation location="/GetNistTime" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INW_do_korekty">
      <http:operation location="/INW_do_korekty" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INW_Zapisy_komisji">
      <http:operation location="/INW_Zapisy_komisji" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Location">
      <http:operation location="/Get_Location" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDB_stan">
      <http:operation location="/UpdateDB_stan" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INW_KOMUNIKATY">
      <http:operation location="/INW_KOMUNIKATY" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDB_indeksy">
      <http:operation location="/UpdateDB_indeksy" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPO_Delete_item">
      <http:operation location="/IPO_Delete_item" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPO_Delete_Warehouse">
      <http:operation location="/IPO_Delete_Warehouse" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPO_Update_avail">
      <http:operation location="/IPO_Update_avail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPOupdateItem">
      <http:operation location="/IPOupdateItem" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SendAlert">
      <http:operation location="/SendAlert" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="IPO_popraw_indeksy_w_IPO">
      <http:operation location="/IPO_popraw_indeksy_w_IPO" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <http:operation location="/GetItems" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="local_New_Item_SP">
      <http:operation location="/local_New_Item_SP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetNistTime">
      <http:operation location="/GetNistTime" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INW_do_korekty">
      <http:operation location="/INW_do_korekty" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INW_Zapisy_komisji">
      <http:operation location="/INW_Zapisy_komisji" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Location">
      <http:operation location="/Get_Location" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDB_stan">
      <http:operation location="/UpdateDB_stan" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INW_KOMUNIKATY">
      <http:operation location="/INW_KOMUNIKATY" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDB_indeksy">
      <http:operation location="/UpdateDB_indeksy" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPO_Delete_item">
      <http:operation location="/IPO_Delete_item" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPO_Delete_Warehouse">
      <http:operation location="/IPO_Delete_Warehouse" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPO_Update_avail">
      <http:operation location="/IPO_Update_avail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPOupdateItem">
      <http:operation location="/IPOupdateItem" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SendAlert">
      <http:operation location="/SendAlert" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="IPO_popraw_indeksy_w_IPO">
      <http:operation location="/IPO_popraw_indeksy_w_IPO" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <http:operation location="/GetItems" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="local_New_Item_SP">
      <http:operation location="/local_New_Item_SP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://192.168.1.20:10001/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://192.168.1.20:10001/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpGet" binding="tns:Service1HttpGet">
      <http:address location="http://192.168.1.20:10001/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
      <http:address location="http://192.168.1.20:10001/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>